// SETTINGS
// Imported via Webpack's Sass Resources configuration.

// TOOLS
// Imported via Webpack's Sass Resources configuration.

// GENERIC
@import '~reset-css/reset'; //npm install reset-css
//@import '~normalize-css/normalize.css'; //npm install normalize-css
@import "generic/box-sizing";

// FONTS

// ELEMENTS
@import "elements/page";

// OBJECTS
@import "objects/containers";
@import "objects/grid";
@import "objects/grid.responsive";
@import "objects/images";
@import "objects/panels";
@import "objects/media";
@import "objects/forms";
@import "objects/modals";
@import "objects/drawers";

// COMPONENTS
@import "components/typography";
@import "components/badges";
@import "components/headings";
@import "components/addresses";
@import "components/tables";
@import "components/cards";
@import "components/buttons";
@import "components/links";
@import "components/lists";
@import "components/breadcrumbs";
@import "components/trees";
@import "components/tabs";
@import "components/inputs";
@import "components/input-groups";
@import "components/hints";
@import "components/toggles";
@import "components/tags";
@import "components/ranges";
@import "components/pagination";
@import "components/overlays";
@import "components/bubbles";
@import "components/tooltips";
@import "components/alerts";
@import "components/calendars";
@import "components/navs";
@import "components/progress";
@import "components/avatars";

// MODIFIERS
@import "modifiers/alignment";
@import "modifiers/boxing";
@import "modifiers/elevation";
@import "modifiers/sizes";





