//include ionic sass

@import
  // Blacktie
"~usk-common/styles/blacktie/black-tie.scss",

  // Flaticon
"~usk-common/styles/flaticon/flaticon.scss",

  // Tonicons
"~usk-common/styles/tonicons/tonicons.scss",

  // Ionicons
"~ionic-angular/scss/ionicons/ionicons.scss",

  // Base
"~ionic-angular/scss/reset",
"~ionic-angular/scss/scaffolding",
"~ionic-angular/scss/type",

  // Components
"~ionic-angular/scss/action-sheet",
"~ionic-angular/scss/backdrop",
"~ionic-angular/scss/bar",
"~ionic-angular/scss/tabs",
"~ionic-angular/scss/menu",
"~ionic-angular/scss/modal",
"~ionic-angular/scss/popover",
"~ionic-angular/scss/popup",
"~ionic-angular/scss/loading",
"~ionic-angular/scss/items",
"~ionic-angular/scss/list",
"~ionic-angular/scss/badge",
"~ionic-angular/scss/slide-box",
"~ionic-angular/scss/slides",
"~ionic-angular/scss/refresher",
"~ionic-angular/scss/spinner",

  // Forms
"~ionic-angular/scss/form",
"~ionic-angular/scss/checkbox",
//"~ionic-angular/scss/toggle",
"~ionic-angular/scss/radio",
"~ionic-angular/scss/range",
"~ionic-angular/scss/select",
"~ionic-angular/scss/progress",

  // Buttons
"~ionic-angular/scss/button",
"~ionic-angular/scss/button-bar",

  // Util
"~ionic-angular/scss/grid",
"~ionic-angular/scss/util",
"~ionic-angular/scss/platform",

  // Animations
"~ionic-angular/scss/animations",
"~ionic-angular/scss/transitions";

@font-face {
  font-family: "San Francisco";
  font-weight: 100;
  src: url("https://applesocial.s3.amazonaws.com/assets/styles/fonts/sanfrancisco/sanfranciscodisplay-ultralight-webfont.woff");
}

/** Thin */
@font-face {
  font-family: "San Francisco";
  font-weight: 200;
  src: url("https://applesocial.s3.amazonaws.com/assets/styles/fonts/sanfrancisco/sanfranciscodisplay-thin-webfont.woff");
}

/** Regular */
@font-face {
  font-family: "San Francisco";
  font-weight: 400;
  src: url("https://applesocial.s3.amazonaws.com/assets/styles/fonts/sanfrancisco/sanfranciscodisplay-regular-webfont.woff");
}

/** Medium */
@font-face {
  font-family: "San Francisco";
  font-weight: 500;
  src: url("https://applesocial.s3.amazonaws.com/assets/styles/fonts/sanfrancisco/sanfranciscodisplay-medium-webfont.woff");
}

/** Semi Bold */
@font-face {
  font-family: "San Francisco";
  font-weight: 600;
  src: url("https://applesocial.s3.amazonaws.com/assets/styles/fonts/sanfrancisco/sanfranciscodisplay-semibold-webfont.woff");
}

/** Bold */
@font-face {
  font-family: "San Francisco";
  font-weight: 700;
  src: url("https://applesocial.s3.amazonaws.com/assets/styles/fonts/sanfrancisco/sanfranciscodisplay-bold-webfont.woff");
}
